<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  <add key="BuildDefinitions" value="Dev Integration Tests;QA Regression Tests"/>

  <add key="tfsUri" value="https://tatyana-getmanova.visualstudio.com"/>

  <add key="TeamProject" value="TestProject"/>

    <add key="Sender" value="gtd191@gmail.com"/>
    <add key="password" value="haha"/>
    <add key="Recipient" value="tatyana.getmanova@gmail.com"/>

    <add key="HtmlTemplateBuild" value="&lt;p style=&quot;font-family:Trebuchet MS;font-size:18&quot;&gt; &lt;br/&gt; Build definition: &lt;b&gt; {buildDefinition} &lt;/b&gt; &lt;br/&gt; Last build {lastBuildName} is available by Uri: {lastBuildUri} &lt;br/&gt; Test Run: {testRunTitle} &lt;br/&gt; Requested by: {RequestedBy} &lt;br/&gt; Build Configuration: {BuildConfiguration} &lt;br/&gt; Test Run initiated at: {DateStarted} | Test Run Completed: {DateCompleted} &lt;br/&gt; Total tests: {totalTests} &lt;br/&gt; &lt;/p&gt;"/>
    <add key="HtmlTemplateAttachment" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:16;color:green&quot;&gt; Detailed Test Run report is available by: {attachUri} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplatePassedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#26734d&quot;&gt; &lt;br/&gt; Passed Tests: &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplatePassedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#26734d&quot;&gt; &lt;b&gt;{passedTests}&lt;/b&gt; tests of total &lt;b&gt;{totalTests}&lt;/b&gt; have been successfully passed &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplatePreconditionFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#996633&quot;&gt; &lt;br/&gt; Preconditions are not met in the following tests: &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplatePreconditionFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#996633&quot;&gt; {preconditionFailedTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#ff0000&quot;&gt; &lt;br/&gt; Failed Tests: &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#ff0000&quot;&gt; {failedTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateUnexpectedFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#993399&quot;&gt; &lt;br/&gt; Unhandled or unexpected Failures:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateUnexpectedFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#993399&quot;&gt; {unexpectedFailedTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateErrorFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are failed by Error:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateErrorFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {errorTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateWarningFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are failed by Warning:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateWarningFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {warningTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateAbortedFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are Aborted:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateAbortedFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {abortedTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateBlockFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are Blocked:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateBlockFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {blockTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateInconclusiveFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are Inconclusive:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateInconclusiveFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {inconclusiveTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateTimeoutFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are failed by TimeOut:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateTimeoutFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {timeoutTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateNotApplicableFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests are not applicable:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateNotApplicableFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {notApplicableTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplateNotExecutedFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests have not been executed:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplateNotExecutedFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {notExecutedTests} &lt;br/&gt; &lt;/div&gt;"/>

    <add key="HtmlTemplatePausedFailedTestsTitle" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:14;font-weight:bold;color:#gray&quot;&gt; &lt;br/&gt; These tests have been paused:  &lt;br/&gt; &lt;br/&gt; &lt;/div&gt;"/>
    <add key="HtmlTemplatePausedFailedTests" value="&lt;div style=&quot;font-family:Trebuchet MS;font-size:10;color:#gray&quot;&gt; {pausedTests} &lt;br/&gt; &lt;/div&gt;"/>
    
  </appSettings>
</configuration>